@import "spectre.css/src/spectre.scss";
@import "spectre.css/src/_icons.scss";

$brand-01: #3d70b2;
$brand-02: #5596e6;
$ui-01: #ffffff;
$ui-02: #f4f7fb;

html,
body {
  height:100%;
}

body {
  background: $ui-02;
}

#header{
  position: fixed;
  width: 100%;
  z-index: 100;  
}

#header-inner,
#content-inner,
#footer-inner {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

#header-inner {
  background: $brand-01;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
}

#content-inner {
  background: $ui-01;
  padding-top: 50px;
  padding-bottom: 5px;
  min-height: 100vh;
}

.meta-img {
  width: 100%;
  max-width: 90px;
  border-radius: 5px;
}

/*spectre.css overrides*/
.tab {
  margin-top: 0;
  margin-bottom: 10px;
}

.tab .tab-item.active a, 
.tab .tab-item a.active {
  border-color: $brand-01;
  color: $brand-01;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
  position: relative;
  top: 4px;
}

.circle {
  background: #ec1313;
  border-radius: 50%;
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
}

.loading-wrapper {
  padding-top: 40%;
}

#cog img {
  width: 16px;
  position: relative;
  top: 4px;
}

/*dark theme*/
$dark-01: #37474f;
$dark-02: #263238;
$dark-text: #ffffff;

.theme-dark {
  background: $dark-01 !important;
  color: $dark-text !important;
}

.theme-dark #header-inner {
  background: $dark-02;
  border-bottom: 2px solid $brand-01;
}

.theme-dark #content-inner {
  background: $dark-02;
}

.tab {
  border-color: $brand-01;
}

.theme-dark .divider {
  border-color: $brand-01;
}

.theme-dark .text-dark {
  color: $dark-text;
}

.theme-dark mark {
  background: $dark-02;
  color: $dark-text;
  border: 1px solid $brand-01;
}

.theme-dark .chip {
  background: $dark-02;
  color: $dark-text;
  border: 1px solid $brand-01;
}

.theme-dark .modal-container {
  background: $dark-02;
  color: $dark-text;
}

.theme-dark .modal-container .btn {
  color: $dark-text;
}

.theme-dark .modal-title {
  color: $dark-text;
}
